<nav class="navbar navbar-expand-lg navbar-dark bg-dark" xmlns="http://www.w3.org/1999/html">
  <h2 class="navbar-brand" style="color:yellowgreen;">Užregistruoti pasientai</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" style="color:yellow;" (click)="onOpenModal(null, 'add')">Nauja paciento registracija
          <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" style="color:sandybrown;" (click)="onOpenModal(null, 'workTime')">Gydytojų užimtumo lentelė
          <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" style="color:skyblue;" (click)="onOpenModal(null, 'addDoctor')">Prideti gydytoją
          <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" style="color:pink;" (click)="onOpenModal(null, 'addWeekTable')">Pridėti savaitine lentele
          <span class="sr-only">(current)</span></a>
      </li>

<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" style="color:cyan;" (click)="onOpenModal(null, 'editWeekTable')">Redaguoti savaitine lentele-->
<!--          <span class="sr-only">(current)</span></a>-->
<!--      </li>-->

      <li class="nav-item active">
        <a class="nav-link" style="color:magenta;" (click)="onOpenModal(null, 'weekTable')">Savaitine lentele
          <span class="sr-only">(current)</span></a>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Pacientai pagal vardą..." required>
    </form>
  </div>
</nav>



<!--Lentele (registraciju) po navbar'u-->
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
      <div class="card m-b-30">

        <ul class="list-group list-group-flush">

          <li class="list-group-item">Gydytojas :
            <div *ngFor="let doctor of doctors" >
              <ng-template [ngIf]= "doctor.id == employee?.doctor_id" >
                <div>
                  <td> {{doctor.doctorName }} </td>
                  <td> &nbsp;{{doctor.doctorSurname }} </td>
<!--                  <td> - {{doctor.doctorSpecialization }} </td>-->
<!--                  <td>  ({{doctor.id }}) </td>-->
                </div>
              </ng-template>
            </div>
          </li>

          <li class="list-group-item">Savaitės diena: {{employee?.day_id}}</li>
          <li class="list-group-item">Laikas : {{employee?.time_id}}</li>
          <li class="list-group-item">Tai vizitas: {{employee?.purpose}}</li>
          <li class="list-group-item">Vardas : {{employee?.name}}</li>
          <li class="list-group-item">Pavardė: {{employee?.surname}}</li>
          <li class="list-group-item">Gimimo data: {{employee?.birthday}}</li>
          <li class="list-group-item">Telefonas: {{employee?.phone}}</li>
          <li class="list-group-item">Kreipėsi dėl: {{employee?.message}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top"
               data-original-title="Redaguoti"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(employee, 'delete')" class="btn btn-danger tooltips" data-placement="top"
               data-original-title="Ištrinti"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Registration  Modal -->
  <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Nauja paciento registracija</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">

            <div class="form-group">
              <label for="doctor">Gydytojų sąrašas :</label>
              <select id="doctor" ngModel name="doctor_id" class="form-control" [(ngModel)] ="doctor" multiple aria-label="multiple select example" >
<!--disabled-->
<!--                <select id="doctor_id" ngModel name = "doctor_id"  class="form-control" [(ngModel)] ="docId" multiple aria-label="doctor_id" required>-->

                <option [value]="[doctor.id]" *ngFor="let doctor of doctors" >
                  {{doctor.id}} -&nbsp; {{doctor.doctorName}} &nbsp; {{doctor.doctorSurname}} - {{doctor.doctorSpecialization}}
                </option>
              </select>
            </div>


<!--              Gydytoją įvedame ranka          -->
                        <div class="form-group">
                          <label for="doctor_id">Įveskite tik skaičių esantį prieš gydytojo vardą </label>
                          <input type="text" ngModel name="doctor_id" class="form-control" id="doctor_id" placeholder="{{doctor}}" required>
                        </div>
            <!-- su ng model-->
<!--            <p>{{doctor}}</p>-->
<!--            <ng-template [ngIf]="doctor == value"  >-->
<!--              <p> sutampa </p>-->
<!--            </ng-template>-->

            <div class="form-group">
              <label for="day_id">Diena 1-pirmadienis, 2-antradienis, 3-trečiadienis, 4-ketvirtadienis, 5-penktadienis</label>
              <input type="text" ngModel name="day_id" class="form-control" id="day_id" placeholder="Įrašykite tik skaičių" required>
            </div>
            <div class="form-group">
              <label for="time_id">Valanda: 8-8:00, 9-9:00, 10-10:00, 11-11:00, 12-12:00</label>
              <input type="text" ngModel name="time_id" class="form-control" id="time_id" placeholder="Įrašykite tik skaičių" required>
            </div>
            <div class="form-group">
              <label for="purpose">Įrašykite vizito pobūdį: pirmas ar pakartotinas ar procedūra</label>
              <input type="text" ngModel name="purpose" class="form-control" id="purpose"
                     placeholder=" vienas žodis:  pirmas, pakartotinas arba procedura" required>
            </div>
            <div class="form-group">
              <label for="name">Vardas</label>
              <input type="text" ngModel name="name" class="form-control" id="name" placeholder="vardas" required>
            </div>
            <div class="form-group">
              <label for="surname">Pavardė</label>
              <input type="text" ngModel name="surname" class="form-control" id="surname" placeholder="pavardė"
                     required>
            </div>
            <div class="form-group">
              <label for="birthday">Gimimo data</label>
              <input type="date" ngModel name="birthday" class="form-control" id="birthday" placeholder="gimtadienis"
                     required>
            </div>
            <div class="form-group">
              <label for="phone">Telefono numeris</label>
              <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="telefonas" required>
            </div>
            <div class="form-group">
              <label for="message">Vizito priežastis </label>
              <input type="text" ngModel name="message" class="form-control" id="message"
                     placeholder="vizito priežastis" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Atsisakyti
              </button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Patvirtinti</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Registration Modal -->
  <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateEmployeeModalLabel">Redaguojame {{editDoctor?.doctorName}} pasirinkimą</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="doctorEdit">Gydytojų sąrašas :</label>
            <select id="doctorEdit" ngModel name="doctor_id" class="form-control" multiple aria-label="multiple select example" disabled >
              <option value="{{doctor.id}}" *ngFor="let doctor of doctors" >
                {{doctor.id}} -&nbsp; {{doctor.doctorName}} &nbsp; {{doctor.doctorSurname}} - {{doctor.doctorSpecialization}}
              </option>
            </select>
          </div>

          <form #editForm="ngForm">
            <div class="form-group">
              <label for="doctor_id">Gydytojas</label>
              <input type="text" ngModel="{{editEmployee?.doctor_id}}" name="doctor_id" class="form-control">
            </div>
            <div class="form-group">
              <label for="day_id">Savaitės diena</label>
              <input type="text" ngModel="{{editEmployee?.day_id}}" name="date" class="form-control">
            </div>
            <div class="form-group">
              <label for="time_id">Laikas</label>
              <input type="text" ngModel="{{editEmployee?.time_id}}" name="time" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Pirmas/pakartotinas/procedura</label>
              <input type="text" ngModel="{{editEmployee?.purpose}}" name="purpose" class="form-control">
            </div>

            <div class="form-group">
              <label for="name">Vardas</label>
              <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control"
                     aria-describedby="emailHelp">
            </div>
            <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id">
            <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control"
                   id="userCode">
            <div class="form-group">
              <label for="surname">Pavardė</label>
              <input type="email" ngModel="{{editEmployee?.surname}}" name="surname" class="form-control">
            </div>
            <div class="form-group">
              <label for="birthday">Gimimo data</label>
              <input type="text" ngModel="{{editEmployee?.birthday}}" name="birthday" class="form-control">
            </div>
            <div class="form-group">
              <label for="phone">Telefono numeris</label>
              <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message">Vizito priežastis</label>
              <input type="text" ngModel="{{editEmployee?.message}}" name="message" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Atsisakyti</button>
              <button (click)="onUpdateEmloyee(editForm.value)" data-dismiss="modal" class="btn btn-primary">
                Patvirtinti
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Registration Modal -->
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Registracijos panaikinimas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Ar tikrai norite ištrinti paciento {{deleteEmployee?.name}} registraciją ?</p>
          <div class="modal-footer">
            <button (click)="onDeleteEmloyee(deleteEmployee?.id)" class="btn btn-danger" data-dismiss="modal">Taip
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Gydytoju rezervuoti laikai Modal -->
<div class="modal fade" id="workTimeModal" tabindex="-1" role="dialog" aria-labelledby="workTimeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="workTimeModalLabel">Gydytojų užimtumas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!--        <form #doctorSelectForm="ngForm" (ngSubmit)="onAddEmployee(doctorSelectForm)">-->
        <form #timeSelectForm="ngForm" (ngSubmit)="onAddWeekTable(timeSelectForm)">
         <div class="form-group">
          <label for="doctorSel">Pasirinkite gydytoją iš sąrašo</label>
           <select ngModel name="doctorSel" id="doctorSel" class="form-control" [(ngModel)] ="doctor" multiple aria-label="multiple select example" required>
            <option *ngFor="let doctor of doctors" [value]="[doctor.id] ">
              {{doctor?.doctorName}}  {{doctor?.doctorSurname}}  {{doctor?.doctorSpecialization}} ({{doctor?.id}})
            </option>
          </select>
        </div>

<p>{{doctor}}</p>
<!--          <div class="modal-footer">-->
<!--            <button type="button" id="doctorSelect-form" class="btn btn-secondary" data-dismiss="modal">Atsisakyti-->
<!--            </button>-->
<!--            <button [disabled]="doctorSelectForm.invalid" type="submit" class="btn btn-primary">Patvirtinti</button>-->
<!--          </div>-->
<!--        </form>-->


2021 metų xx savaites gydytojo užimtumo lentele
<!--        <form #timeSelectForm="ngForm" (ngSubmit)="onAddWeekTable(timeSelectForm)">-->
        <div class="container">

          <div class="table-responsive">
            <table class="table table-bordered text-center">
              <thead>
              <tr class="bg-light-gray">
                <th class="text-uppercase">Laikas
                </th>
                <th class="text-uppercase">Pirmadienis</th>
                <th class="text-uppercase">Antradienis</th>
                <th class="text-uppercase">Treciadienis</th>
                <th class="text-uppercase">Ketvirtadienis</th>
                <th class="text-uppercase">Penktadienis</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="align-middle">8:00-09:00</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="8monday">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="8tuesday">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="8wednesday">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="8thursday">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="8friday">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="align-middle">9:00-10:00</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="9monday">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="align-middle">10:00-11:00</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="align-middle">11:00-12:00</td>
                <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                </div>
                </td>
              </tr>

              <tr>
                <td class="align-middle">12:00-13:00</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="add-timetable-form" class="btn btn-secondary" data-dismiss="modal">Atsisakyti
          </button>
          <button [disabled]="timeSelectForm.invalid" type="submit" class="btn btn-primary">Patvirtinti</button>
        </div>
        </form>



      </div>
    </div>
  </div>
</div>

<!-- No Registration Notification  -->
<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Nėra registruotų pacientų</h4>
  </div>
</div>

<!-- Add Doctor  Modal -->
<div class="modal fade" id="addDoctorModal" tabindex="-1" role="dialog" aria-labelledby="addDoctorModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDoctorModalLabel">Gydytojo įrašymas/ištrynimas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <p ><b>&emsp;Klinikoje dirbantys gydytojai:</b></p>
      <div class="container">
        <div *ngFor="let doctor of doctors" >
          <td>   {{doctor.doctorName }} </td>
          <td> &nbsp;  {{doctor.doctorSurname }} </td>
          <td> &ensp; , {{doctor.doctorSpecialization }} </td>
          <td>  &nbsp;({{doctor.id }}) </td>

<!--          <td> &emsp;<button (click)="onDeleteDoctor(doctor.id)" type="submit" class="btn btn-danger btn-sm"> ištrinti-->
<!--            <i class="fa fa-times btn-sm"></i></button></td>-->

        </div>
      </div>

      <div class="modal-body">
        <form #addFormDoc="ngForm" (ngSubmit)="onAddDoctor(addFormDoc)">

          <div class="form-group">
            <label for="doctorName">Gydytojo vardas</label>
            <input type="text" ngModel name="doctorName" class="form-control" id="doctorName" placeholder="vardas"
                   required>
          </div>
          <div class="form-group">
            <label for="doctorSurname">Gydytojo pavardė</label>
            <input type="text" ngModel name="doctorSurname" class="form-control" id="doctorSurname" placeholder="pavardė"
                   required>
          </div>
          <div class="form-group">
            <label for="doctorSpecialization">Gydytojo specializacija</label>
            <input type="text" ngModel name="doctorSpecialization" class="form-control" id="doctorSpecialization" placeholder=" specializacija"
                   required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-doc-form" class="btn btn-secondary" data-dismiss="modal">Atsisakyti
            </button>
            <button [disabled]="addFormDoc.invalid" type="submit" class="btn btn-primary">Pridėti</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Add Week table  Modal -->
<div class="modal fade" id="addWeekTableModal" tabindex="-1" role="dialog" aria-labelledby="addWeekTableModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addWeekTableModalLabel">Savaitės užimtumas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addTableForm="ngForm" (ngSubmit)="onAddWeekTable(addTableForm)">

          <div class="form-group">
            <label for="doctorSelect">Gydytojų sąrašas :</label>
            <select id="doctorSelect" ngModel name="doctor" class="form-control" multiple aria-label="multiple select example" disabled >

              <!--                <select id="doctor_id" ngModel name = "doctor_id"  class="form-control" [(ngModel)] ="docId" multiple aria-label="doctor_id" required>-->

              <option value="{{doctor.id}}" *ngFor="let doctor of doctors" >
                {{doctor.id}} -&nbsp; {{doctor.doctorName}} &nbsp; {{doctor.doctorSurname}} - {{doctor.doctorSpecialization}}
              </option>
            </select>
          </div>

          <!-- su ng model           <p>{{docId}}</p>-->

          <!--              Gydytoją įvedame ranka          -->
          <div class="form-group">
            <label for="doctor__id">Įveskite skaičių esantį prieš gydytojo vardą </label>
            <input type="text" ngModel name="doctor_id" class="form-control"  id="doctor__id" placeholder="Įrašykite tik skaičių" required>
          </div>

          <div class="form-group">
            <label for="time_id">Valanda: 8, 9, 10, 11, 12</label>
            <input type="text" ngModel name="time_id"  class="form-control" id="time_id" placeholder="Įrašykite tik skaičių">
          </div>

<!--          <div class="form-group">-->
<!--            <label for="timeStart">Laikas 8:00</label>-->
<!--            <input type="text" name="timeStart" [(ngModel)] ="weekTable.timeStart" [value]="8"   class="form-control" id="timeStart" placeholder="8:00">-->
<!--          </div>-->

          <div class="form-group">
            <label for="monday">Pirmadienis</label>
            <input type="checkbox" ngModel name="monday"  class="form-control" id="monday" placeholder="true/false" checked>
          </div>
          <div class="form-group">
            <label for="tuesday">Antradienis</label>
            <input type="checkbox" ngModel name="tuesday"  class="form-control" id="tuesday" placeholder="true/false" checked>
          </div>
          <div class="form-group">
            <label for="wednesday">Treciadienis</label>
            <input type="checkbox" ngModel name="wednesday"  class="form-control" id="wednesday" placeholder="true/false"checked>
          </div>
          <div class="form-group">
            <label for="thursday">Ketvirtadienis</label>
            <input type="checkbox" ngModel name="thursday"  class="form-control" id="thursday" placeholder="true/false" checked>
          </div>
          <div class="form-group">
            <label for="friday">Penktadienis </label>
            <input type="checkbox" ngModel name="friday"  class="form-control" id="friday"
                   placeholder="true/false" checked>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-table-form" class="btn btn-secondary" data-dismiss="modal">Atsisakyti
            </button>
            <button [disabled]="addTableForm.invalid" type="submit" class="btn btn-primary">Patvirtinti</button>
<!--            <button type="button" (click)="setDefaults()">Set Defaults</button>-->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Edit WeekTable Modal -->
<div class="modal fade" id="editWeekTableModal" tabindex="-1" role="dialog" aria-labelledby="editWeekTableModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editWeekTableModalLabel">Redaguojame {{editDoctor?.doctorName}} pasirinkimą</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


          <div class="form-group">
          <label for="doctorSel1">Gydytojų sąrašas :</label>
          <select id="doctorSel1" ngModel name="doctor_id" class="form-control" multiple aria-label="multiple select example" disabled >
            <option value="{{doctor.id}}" *ngFor="let doctor of doctors" >
              {{doctor.id}} -&nbsp; {{doctor.doctorName}} &nbsp; {{doctor.doctorSurname}} - {{doctor.doctorSpecialization}}
            </option>
          </select>
        </div>

        <form #editForm="ngForm">
          <div class="form-group">
            <label for="doctor_id">Gydytojas</label>
            <input type="text" ngModel="{{editEmployee?.doctor_id}}" name="doctor_id" class="form-control">
          </div>
          <div class="form-group">
            <label for="day_id">Savaitės diena</label>
            <input type="text" ngModel="{{editEmployee?.day_id}}" name="day_id" class="form-control">
          </div>
          <div class="form-group">
            <label for="time_id">Laikas</label>
            <input type="text" ngModel="{{editEmployee?.time_id}}" name="time_id" class="form-control">
          </div>
          <div class="form-group">
            <label for="name">Pirmas/pakartotinas/procedura</label>
            <input type="text" ngModel="{{editEmployee?.purpose}}" name="purpose" class="form-control">
          </div>

          <div class="form-group">
            <label for="name">Vardas</label>
            <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control"
                   aria-describedby="emailHelp">
          </div>
          <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id">
          <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control"
                 id="userCode">
          <div class="form-group">
            <label for="surname">Pavardė</label>
            <input type="email" ngModel="{{editEmployee?.surname}}" name="surname" class="form-control">
          </div>
          <div class="form-group">
            <label for="birthday">Gimimo data</label>
            <input type="text" ngModel="{{editEmployee?.birthday}}" name="birthday" class="form-control">
          </div>
          <div class="form-group">
            <label for="phone">Telefono numeris</label>
            <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control">
          </div>
          <div class="form-group">
            <label for="message">Vizito priežastis</label>
            <input type="text" ngModel="{{editEmployee?.message}}" name="message" class="form-control">
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Atsisakyti</button>
            <button (click)="onEditWeekTable(editForm.value)" data-dismiss="modal" class="btn btn-primary">
              Patvirtinti
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--uzimtumas pagal gydytojus Modal-->
<div class="modal fade" id="weekTableModal" tabindex="-1" role="dialog" aria-labelledby="weekTableModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="form-group">

          <label for="doctor1">Gydytojų sąrašas :</label>
          <select id="doctor1"  class="form-control" [(ngModel)] ="doctor" multiple aria-label="multiple select example"  >
            <option [value]="[doctor.id]" *ngFor="let doctor of doctors" >
              {{doctor.id}} -&nbsp; {{doctor.doctorName}} &nbsp; {{doctor.doctorSurname}} - {{doctor.doctorSpecialization}}
            </option>
          </select>
        </div>

<!--        <h5 class="modal-title" id="weekTableModalLabel">Gydytojo {{editDoctor?.doctorName}} užimtumas</h5>-->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

<!--        <div class="form-group">-->
<!--          <label for="doctor1">Gydytojų sąrašas :</label>-->
<!--          <select id="doctor1"  class="form-control" [(ngModel)] ="doctor" multiple aria-label="multiple select example"  >-->
<!--            <option [value]="[doctor.id]" *ngFor="let doctor of doctors" >-->
<!--              {{doctor.id}} -&nbsp; {{doctor.doctorName}} &nbsp; {{doctor.doctorSurname}} - {{doctor.doctorSpecialization}}-->
<!--            </option>-->
<!--          </select>-->
<!--        </div>-->


      </div>
      <div class="modal-body">


        <div class="container" id="week-container">
          <div class="row">

            <div *ngFor="let weekTable of weekTables" class="col-md-6 col-xl-3">
              <div *ngIf="doctor == weekTable.doctor_id">

              <div class="card m-b-30">

                <ul class="list-group list-group-flush">

                  <li class="list-group-item">Gydytojas :
                    <div *ngFor="let doctor of doctors" >
                      <ng-template [ngIf]= "doctor.id == weekTable?.doctor_id" >
                        <div>
                          <td> {{doctor.doctorName }} </td>
                          <td> &nbsp;{{doctor.doctorSurname }} </td>
                        </div>
                        <div class="list-group-item">Valanda: {{weekTable?.time_id}}</div>
                        <div>
                        <div *ngIf="weekTable?.monday == true; then thenBlock1 else elseBlock1"></div>
                          <ng-template #thenBlock1>Pirmadienis  užimtas</ng-template>
                          <ng-template #elseBlock1>Pirmadienis  ..</ng-template>
                        </div>
                        <div>
                        <div *ngIf="weekTable?.tuesday == true; then thenBlock2 else elseBlock2"></div>
                          <ng-template #thenBlock2>Antradienis  užimtas</ng-template>
                          <ng-template #elseBlock2>Antradienis  ..</ng-template>
                        </div>
                        <div>
                          <div *ngIf="weekTable?.wednesday == true; then thenBlock3 else elseBlock3"></div>
                          <ng-template #thenBlock3>Trečiadienis  užimtas</ng-template>
                          <ng-template #elseBlock3>Trečiadienis   ..</ng-template>
                        </div>
                        <div>
                          <div *ngIf="weekTable?.thursday == true; then thenBlock4 else elseBlock4"></div>
                          <ng-template #thenBlock4>Ketvirtadienis  užimtas</ng-template>
                          <ng-template #elseBlock4>Ketvirtadienis  ..</ng-template>
                        </div>
                        <div>
                          <div *ngIf="weekTable?.friday == true; then thenBlock5 else elseBlock5"></div>
                          <ng-template #thenBlock5>Penktadienis  užimtas</ng-template>
                          <ng-template #elseBlock5>Penktadienis  ..</ng-template>
                        </div>

                      </ng-template>
                    </div>
                  </li>

                </ul>
<!--                <div class="card-body">-->
<!--                  <div class="float-right btn-group btn-group-sm">-->
<!--                    <a (click)="onOpenModal(employee, 'editWeekTable')" class="btn btn-primary tooltips" data-placement="top"-->
<!--                       data-original-title="Redaguoti"><i class="fa fa-pencil"></i> </a>-->
<!--                    <a (click)="onOpenModal(employees, 'deleteWeekTable')" class="btn btn-danger tooltips" data-placement="top"-->
<!--                       data-original-title="Ištrinti"><i class="fa fa-times"></i></a>-->
<!--                  </div>-->
<!--                </div>-->
              </div>
            </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
