<nav class="navbar navbar-expand-lg navbar-dark bg-dark" xmlns="http://www.w3.org/1999/html">
  <h2 class="navbar-brand" style="color:yellowgreen;">Užregistruoti pasientai</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
          data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="color:yellow;" (click)="onOpenModal(null, 'add')">Registruoti pacientą
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color:sandybrown;" (click)="onOpenModal(null, 'workTime')">Gydytojų darbo grafikai
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color:skyblue;" (click)="onOpenModal(null, 'addDoctor')">Pridedame naują gydytoją
          <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Pacientai pagal vardą..." required>
    </form>
  </div>
</nav>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6 card-title align-self-center mb-0">
            <h5>Gydytojas {{employee?.doctor}}</h5>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Data : {{employee?.date}}</li>
          <li class="list-group-item">Laikas : {{employee?.time}}</li>
          <li class="list-group-item">Pirmas/pakartotinis/procedura : {{employee?.purpose}}</li>
          <li class="list-group-item">Vardas : {{employee?.name}}</li>
          <li class="list-group-item">Pavardė: {{employee?.surname}}</li>
          <li class="list-group-item">Gimimo data: {{employee?.birthday}}</li>
          <li class="list-group-item">Telefonas: {{employee?.phone}}</li>
          <li class="list-group-item">Kreipėsi dėl: {{employee?.message}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top"
               data-original-title="Redaguoti"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(employee, 'delete')" class="btn btn-danger tooltips" data-placement="top"
               data-original-title="Ištrinti"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Registration  Modal -->
  <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Nauja registracija</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
            <!--Gydytoją pasirenkame is sarašo HARDCODING -->
            <!--            <div class="form-group">-->
            <!--              <label for="doctor">Gydytojas (renkamės iš sąrašo) </label>-->
            <!--              <select id="doctor" ngModel name="doctor" class="form-control">-->
            <!--                <option value="pirmasis">Pirmasis Gydytojas</option>-->
            <!--                <option value="antrasis">Antrasis Gydytojas</option>-->
            <!--                <option value="trečiasis">Trečiasis Gydytojas</option>-->
            <!--              </select>-->
            <!--            </div>-->
            <div class="form-select">
              <label for="doctor">Pasirinkite gydytoją iš sąrašo</label>
              <select id="doctor" ngModel name="doctor" class="form-control">
                <option *ngFor="let employee of employees" [value]="[employee.doctor]">
                  {{employee?.doctor}}
                </option>
              </select>
            </div>
            <!--  Gydytoją įvedame ranka          -->
            <!--            <div class="form-group">-->
            <!--              <label for="doctor">Gydytojas</label>-->
            <!--              <input type="text" ngModel name="doctor" class="form-control" id="doctor" placeholder=" gydytojas" required>-->
            <!--            </div>-->
            <div class="form-group">
              <label for="date">Data</label>
              <input type="text" ngModel name="date" class="form-control" id="date" placeholder="data" required>
            </div>
            <div class="form-group">
              <label for="time">Laikas</label>
              <input type="text" ngModel name="time" class="form-control" id="time" placeholder="laikas" required>
            </div>
            <div class="form-group">
              <label for="purpose">Pirmas/pakartotinas/procedura</label>
              <input type="text" ngModel name="purpose" class="form-control" id="purpose"
                     placeholder="pirmas/pakartotinas/procedura" required>
            </div>
            <div class="form-group">
              <label for="name">Vardas</label>
              <input type="text" ngModel name="name" class="form-control" id="name" placeholder="vardas" required>
            </div>
            <div class="form-group">
              <label for="surname">Pavardė</label>
              <input type="text" ngModel name="surname" class="form-control" id="surname" placeholder="pavardė"
                     required>
            </div>
            <div class="form-group">
              <label for="birthday">Gimimo data</label>
              <input type="text" ngModel name="birthday" class="form-control" id="birthday" placeholder="gimtadienis"
                     required>
            </div>
            <div class="form-group">
              <label for="phone">Telefono numeris</label>
              <input type="text" ngModel name="phone" class="form-control" id="phone" placeholder="telefonas" required>
            </div>
            <div class="form-group">
              <label for="message">Vizito priežastis </label>
              <input type="text" ngModel name="message" class="form-control" id="message"
                     placeholder="vizito priežastis" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Atsisakyti
              </button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Patvirtinti</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Registration Modal -->
  <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateEmployeeModalLabel">Redaguojame {{editEmployee?.name}} pasirinkimą</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="doctor">Gydytojas</label>
              <input type="text" ngModel="{{editEmployee?.doctor}}" name="doctor" class="form-control">
            </div>
            <div class="form-group">
              <label for="date">Data</label>
              <input type="text" ngModel="{{editEmployee?.date}}" name="date" class="form-control">
            </div>
            <div class="form-group">
              <label for="time">Laikas</label>
              <input type="text" ngModel="{{editEmployee?.time}}" name="time" class="form-control">
            </div>
            <div class="form-group">
              <label for="name">Pirmas/pakartotinas/procedura</label>
              <input type="text" ngModel="{{editEmployee?.purpose}}" name="purpose" class="form-control">
            </div>

            <div class="form-group">
              <label for="name">Vardas</label>
              <input type="text" ngModel="{{editEmployee?.name}}" name="name" class="form-control"
                     aria-describedby="emailHelp">
            </div>
            <input type="hidden" ngModel="{{editEmployee?.id}}" name="id" class="form-control" id="id">
            <input type="hidden" ngModel="{{editEmployee?.employeeCode}}" name="userCode" class="form-control"
                   id="userCode">
            <div class="form-group">
              <label for="surname">Pavardė</label>
              <input type="email" ngModel="{{editEmployee?.surname}}" name="surname" class="form-control">
            </div>
            <div class="form-group">
              <label for="birthday">Gimimo data</label>
              <input type="text" ngModel="{{editEmployee?.birthday}}" name="birthday" class="form-control">
            </div>
            <div class="form-group">
              <label for="phone">Telefono numeris</label>
              <input type="text" ngModel="{{editEmployee?.phone}}" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message">Vizito priežastis</label>
              <input type="text" ngModel="{{editEmployee?.message}}" name="message" class="form-control">
            </div>
            <div class="modal-footer">
              <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Atsisakyti</button>
              <button (click)="onUpdateEmloyee(editForm.value)" data-dismiss="modal" class="btn btn-primary">
                Patvirtinti
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Registration Modal -->
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Registracijos panaikinimas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Ar tikrai norite ištrinti paciento {{deleteEmployee?.name}} registraciją ?</p>
          <div class="modal-footer">
            <button (click)="onDeleteEmloyee(deleteEmployee?.id)" class="btn btn-danger" data-dismiss="modal">Taip
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Ne</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Gydytoju rezervuoti laikai Modal -->
<div class="modal fade" id="workTimeModal" tabindex="-1" role="dialog" aria-labelledby="workTimeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="workTimeModalLabel">Gydytojų laikai ( pažymėtas - laisvas, nepažymėtas - užimtas)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="doctor_">Pasirinkite gydytoją iš sąrašo</label>
          <select ngModel name="doctor" id="doctor_" class="form-control" multiple aria-label="multiple select example">
            <option *ngFor="let employee of employees" [value]="[employee.doctor]">
              {{employee?.doctor}}
            </option>
          </select>
        </div>


        <div class="container">
          <div class="timetable-img text-center">
            <img src="img/content/timetable.png" alt="">
          </div>
          <div class="table-responsive">
            <table class="table table-bordered text-center">
              <thead>
              <tr class="bg-light-gray">
                <th class="text-uppercase">Laikas
                </th>
                <th class="text-uppercase">Pirmadienis</th>
                <th class="text-uppercase">Antradienis</th>
                <th class="text-uppercase">Treciadienis</th>
                <th class="text-uppercase">Ketvirtadienis</th>
                <th class="text-uppercase">Penktadienis</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="align-middle">8:00-09:00</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="8pirmadienis9">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="align-middle">9:00-10:00</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="align-middle">10:00-11:00</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
              </tr>

              <tr>
                <td class="align-middle">11:00-12:00</td>
                <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                </div>
                </td>
              </tr>

              <tr>
                <td class="align-middle">12:00-13:00</td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
                <td>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Laisvas</label>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>



        <div class="modal-footer">
<!--          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Large modal</button>-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- No Registration Notification  -->
<div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">Nėra registruotų pacientų</h4>
  </div>
</div>

<!-- Add Doctor  Modal -->
<div class="modal fade" id="addDoctorModal" tabindex="-1" role="dialog" aria-labelledby="addDoctorModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDoctorModalLabel">Gydytojo įrašymas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addFormDoc="ngForm" (ngSubmit)="onAddEmployee(addFormDoc)">
          <!--Gydytoją pasirenkame is sarašo HARDCODING -->
          <!--            <div class="form-group">-->
          <!--              <label for="doctor">Gydytojas (renkamės iš sąrašo) </label>-->
          <!--              <select id="doctor" ngModel name="doctor" class="form-control">-->
          <!--                <option value="pirmasis">Pirmasis Gydytojas</option>-->
          <!--                <option value="antrasis">Antrasis Gydytojas</option>-->
          <!--                <option value="trečiasis">Trečiasis Gydytojas</option>-->
          <!--              </select>-->
          <!--            </div>-->
          <!--Pasirenkame gydytoja is saraso -->
          <!--          <div class="form-group">-->
          <!--            <label for="doctor">Pasirinkite gydytoją iš sąrašo</label>-->
          <!--            <select id="doctor" ngModel name ="doctor"  class="form-control">-->
          <!--              <option *ngFor="let employee of employees" [value]="[employee.doctor]">-->
          <!--                {{employee?.doctor}}-->
          <!--              </option>-->
          <!--            </select>-->
          <!--          </div>-->
          <!--            Gydytoją įvedame rankiniu budu       -->
          <div class="form-group">
            <label for="doc">Gydytojas</label>
            <input type="text" ngModel name="doctor" class="form-control" id="doc" placeholder="gydytojas"
                   required>
          </div>
          <div class="modal-footer">
            <button [disabled]="addFormDoc.invalid" type="submit" class="btn btn-primary">Pridėti</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Large modal -->
<!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Large modal</button>-->

<!--  <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-lg">-->
<!--      <div class="modal-content">-->





<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

